@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home-main-section .img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 78vh;
}

.home-main-section .img-wrapper .lady-image {
  background-image: url(/img/landing-page-girl.png);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.home-main-section .call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.home-page-circle-1 {
  position: absolute;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background-color: rgba(188, 58, 128, 0.1);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  background-color: rgba(52, 87, 178, 0.1);
  top: 15vh;
  left: 35vw;
  z-index: -1;
}

.home-page-circle-3 {
  position: absolute;
  height: 25vw;
  width: 25vw;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.home-page-circle-3::before {
  content: '';
  -webkit-transform: translate(40%, 40%);
          transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(52, 87, 178, 0.1);
}

@media (max-width: 900px) {
  .home-main-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-main-section .img-wrapper {
    display: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.discover-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.discover-main-section .covers-image {
  width: 30vw;
  margin-left: 2rem;
  height: auto;
  max-width: 350px;
}

.discover-main-section .icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover-main-section .icon-section .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5rem;
  padding: .75rem;
  width: 100px;
  height: 100px;
  background-color: #202027;
  margin-bottom: 2rem;
  background-color: #202027;
  margin-bottom: 2rem;
}

.discover-main-section .icon-section .icon img {
  width: 40px;
}

@media (max-width: 800px) {
  .discover-main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .discover-main-section .covers-image {
    margin-top: 2rem;
    height: 30vh;
    width: auto;
  }
}

body .container .join-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .container .join-main-section .join-form {
  background-color: #202027;
  width: 50vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border-radius: 20px;
}

body .container .join-main-section .join-form .input-group {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .join-main-section .join-form .input-group:last-child {
  margin-bottom: 0;
}

body .container .join-main-section .join-form .input-group .btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

body .container .join-main-section .join-form .input-group .btn:hover {
  background-color: #2180d8;
}

body .container .join-main-section .join-form .input-group .btn:focus {
  background-color: #2796ff;
}

body .container .join-main-section .join-form .input-group label {
  font-weight: bold;
  margin-bottom: .5rem;
}

body .container .join-main-section .join-form .input-group input {
  outline: none;
  background: none;
  border: 1px solid #2E3852;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
}

body .container .join-main-section .join-form .input-group input:focus {
  border-color: #596da0;
}

body .container .join-main-section .join-text {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
}

body .container .join-main-section .accent-text {
  color: #BC3A80;
}

@media (max-width: 900px) {
  .join-main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .join-main-section .join-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: #2F303A;
  font-family: Poppins, sans-serif;
  font-size: 1,2rem;
  color: white;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}

.container .main-header .brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.container .main-header .brand-logo .brand-logo-name {
  margin-left: 1rem;
}

.container .main-header .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.container .main-header .main-nav ul a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}

.container .main-header .main-nav ul a:hover {
  color: #adadad;
}

.container .home-main-section .title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.container .home-main-section .subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.container .home-main-section .btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background-color: #202027;
  font-weight: bold;
  width: 100%;
}

.main-footer .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer .footer-nav ul a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}

.main-footer .footer-nav ul a:hover {
  color: #adadad;
}

.main-footer .footer-nav ul .social-link img {
  width: 1em;
  margin-right: .25rem;
}

.full-height-grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.full-height-grow .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=style.css.map */